JWT_SECRET=put_your_jwt_secret_here
PEXELS_API_KEY=put_your_pexels_api_key_here
WEATHER_API_KEY=put_your_weather_api_key_here
CURRENCY_API_KEY=put_your_currency_api_key_here

MAIL_HOST=smtp.example.com
MAIL_PORT=587
MAIL_USERNAME=your_email@example.com
MAIL_PASSWORD=your_mail_password